<h1>Password Generator</h1>
<div>
  <label>Enter Length</label>

  <input (input)="inputLength($event.target)" />
</div>

<div>
  <label>Use Letters</label>
  <input (click)="addLetters()" type="checkbox" />
</div>

<div>
  <label>Use Numbers</label>
  <input (click)="addNumbers()" type="checkbox" />
</div>

<div>
  <label>Use Symbols</label>
  <input (click)="addSymbols()" type="checkbox" />
</div>

<div>
  <button
    (click)="onButtonClick()"
    [disabled]="
      !(passwordLength && (includeLetters || includeNumbers || includeNumbers))
    "
  >
    Generate
  </button>
</div>

<div>
  <label>Your Password</label>
  <input readonly [value]="password" />
</div>
